<h1>ログイン</h1>
<%= form_for( :session , url: login_path) do |f| %>
    <%= f.label :userId %>
    <%= f.email_field :userId %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Login" %>
<% end %>