<h1><%= @user.name %></h1>
<div>
   <% if current_user != @user %>
   <% if current_user.following?(@user) %>
   <%= link_to 'フォロー外す', account_table_relationships_path(@user.id), method: :delete %>
   <% else %>
   <% if @user.following?(current_user) %>
   <%= link_to 'フォローバック', userpage_follow_path(account_table_id:@user.id), method: :post %>
   <% else %>
   <%= link_to 'フォローする', userpage_follow_path(account_table_id:@user.id), method: :post %>
   <% end %>
   <% end %>
   <% end %>
</div>

<h3>ツイート</h3>
<div>
   <% @tweet.each do |t|  %>
   <div>
      <%= t.contents %>
      <%= link_to "コメントへ", commentpage_path(t.id) %>
   </div>
   <%end%>
</div>

