<h2>一覧</h2>
<%= link_to "投稿", new_path %>
<div>
    <% @tweets.each do |t| %>
        <div>
            <%= t.account_table.name %>
            <%= link_to "詳細へ", accountpage_path(t.account_table.id) %>
            <%= t.contents %>
            <%= link_to "コメントへ", commentpage_path(t.id) %>
        </div>
    <% end %>
</div>
<%= link_to "ログアウト", logout_path, method: :delete %>