<h2><%= @tweet.account_table.name %></h2>
<h1><%= @tweet.contents %></h1>
<h3><%= @tweet.created_at %></h3>
<br>
<br>
<h2>コメント欄</h2>

<div>
    <% @comment.each do |t| %>
    <div>
        <%= t.account_table.name%>: 
        <strong>
        <%= t.content%>
        </strong>
        <p>
        (<%= t.updated_at%>)
        </p>
    </div>
    <%end%>
</div>

<%= form_for(:session , url:commentpage_path(tweet_id: @tweet_id)) do |f| %>
    <%= f.label :コメント %>
    <%= f.text_field :comment %>
    <%= f.submit "コメントする" %>
<% end %>
